
.App {
  text-align: center;
  min-height: 100vh;

  min-height: 100vh;
  height: 100%;

}

.App-header {
  
  background-image: linear-gradient(to top, #ffffff 0%, #deecdd 100%);
  min-height: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  font-family: cursive;
  color: black;
}